.about-section {
	width: 100vw;
	max-width: 100%;
	height: fit-content;
	padding: 4rem 0;
	color: white;
}

.terminal {
	word-wrap: break-word;
	display: flex;
	flex-direction: column;
	background-color: rgb(0, 0, 0);
	width: 90%;
	margin: 20px;
	max-width: 900px;
	margin: 40px auto;
	height: fit-content;
	border-radius: 8px;
	padding-bottom: 15px;
}

.task-bar {
	max-width: 900px;
	height: 30px;
	background-color: rgb(81, 81, 81);
	border-radius: 8px 8px 0 0;
	position: relative;
}
.btns {
	list-style: none;
}
.list-item1,
.list-item2,
.list-item3 {
	margin: 7px 0;
	margin-left: 10px;
	float: left;
	width: 15px;
	height: 15px;
	background-color: rgb(224, 107, 107);
	border-radius: 50%;
}
.list-item3 {
	background-color: rgb(94, 224, 94);
}
.list-item2 {
	background-color: rgb(224, 214, 117);
}

.content {
	color: white;
	font-size: 15px;
	margin: 20px;
	line-height: 1.4rem;
	width: fit-content;
	font-family: "Roboto Mono", monospace;
	height: auto;
	word-wrap: break-word;
}

keyword {
	color: rgb(250, 69, 69);
}
att {
	color: rgb(66, 216, 61);
}
value {
	color: #b0c4f1;
}

.resume {
	width: fit-content;
	font-weight: 600;
	font-size: 1.2rem;
	margin: 0 auto;
	height: 50px;
	/* background-color: #004ffc; */
}

.resume-btn {
	text-decoration: none;
}
.resume-btn:hover {
	transform: translateY(-2px);
}
.resume-btn:active {
	transform: translateY(2px);
}

.resume-btn:focus {
	outline: none;
	border: none;
}

@media (max-width: 850px) {
	.content {
		font-size: 14px;
		margin: 20px;
		line-height: 1.2rem;
	}
}

@media (max-width: 450px) {
	.terminal {
		width: 95%;
	}
	.content {
		font-size: 12px;
		margin: 10px;
		white-space: normal;
	}
}
@media (max-width: 375px) {
	.content {
		font-size: 10px;
		white-space: normal;
	}
}

@media (max-width: 350px) {
	.resume {
		width: fit-content;
		color: white;
		font-weight: 600;
		font-size: 1rem;
		margin: 0 auto;
	}
}
