.certi {
	position: relative;
	margin: 40px;
	width: auto;
	height: auto;
	border-radius: 8px;
}

.certi-pic {
	border-radius: 8px;
	transition: 0.5s ease;
}
.certi-pic:hover {
	transform: scale(1.1);
}

@media (max-width: 1000px) {
	.certi {
		margin: 25px;
		/* max-width: 250px; */
	}
}
@media (max-width: 600px) {
	.certi {
		margin: 20px;
		/* max-width: 250px; */
	}
}
